<!--  -->
<div id="footer" class="container-fluid">
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-4">
    <p class="text-center">
      <b class='b_title'>CONTACT US:
      </b>
      <BR>Call Us:<BR>sales@CircuitSyndicate.com<BR><BR>Call Us:<BR>(949) TOO-FAST
      </p>
    </div>
    <div class="col-sm-4">
      <p class="text-center">
        <b class='b_title'>FOLLOW US:</b><BR>
        <a id="follow_links" href="">Ebay</a>
        <a id="follow_links" href="https://www.instagram.com/zentuning/">Instagram</a>
        <a id="follow_links" href="https://www.facebook.com/ZenTuning/">Facebook</a>
        <a id="follow_links" href="">Youtube</a>
      </p>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
    <footer class="text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; Circuit Syndicate 2020</p>
      </div>
    </footer>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
