<style>
/* ------------------------------------------------ */
  /* NAVBAR */
/* ------------------------------------------------ */
#navbar_background {
}

.nav-item {
  padding-top: 5px;
}

.nav-link {
  font-size: 20px;
  font-weight: bold;
}

#nav_logo {
  width: 35%;
}
#social_media_icons{
  color: black;
  padding-left: 45px;
  padding-top: 10px;
}
/* ------------------------------------------------ */
  /* All pages */
/* ------------------------------------------------ */
#body{
  background-color:#F8F9FA;
}

.footer{
}

.b_title{
  font-size: 20px;
  text-decoration: underline;
}

#follow_links{
  display: block;
  font-weight: bold;
  margin-bottom: 1em;
  color: grey;
}

#follow_links:hover{
  color: #00ff00;
}

#footer{
  background-color: black;
  color: grey;
  padding-top: 50px;
}
/* ------------------------------------------------ */
  /* HOMEPAGE */
/* ------------------------------------------------ */
#landing_image {
   width: 50%;
}


/* ------------------------------------------------ */
  /* PRODUCT */
/* ------------------------------------------------ */
.carousel-control-prev-icon,
.carousel-control-next-icon {

  outline: black;

  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}
/* ------------------------------------------------ */
  /* ABOUT */
/* ------------------------------------------------ */
</style>
