<style>
/* ------------------------------------------------ */
  /* NAVBAR */
/* ------------------------------------------------ */
.nav-item {
  padding-top: 5px;
}

.nav-link {
  font-size: 20px;
  font-weight: bold;
}

#social_media_icons{
  width:120%;
}
/* ------------------------------------------------ */
  /* All pages */
/* ------------------------------------------------ */
.body {
  background-color:#ecb3ff;
}

/* ------------------------------------------------ */
  /* HOMEPAGE */
/* ------------------------------------------------ */
#landing_image {
   width: 50%;
}


/* ------------------------------------------------ */
  /* PRODUCT */
/* ------------------------------------------------ */


/* ------------------------------------------------ */
  /* ABOUT */
/* ------------------------------------------------ */
</style>
