<hr>
<!-- CONTACTS -->
<div id="contact" class="container-fluid bg-dark">
  <div class="row">
    <div class="col-lg-2 col-12"></div>
    <div class="col-lg-4 col-md-6 col-sm-6 mb-md-0 mb-2">
      <h2 id="contact" class="text-center">Contact Us</h2>
      <p class="text-center">
        <strong class="contact">Email</strong>:<br>
        <a id="links" href="https://www.w3schools.com/html/">sales@zen.com</a><br>
        <strong class="contact">Phone</strong>:(800) big-buty
      </p>
    </div>
    <div id="contact" class="col-lg-4 col-12">
      <h2 class="text-center">Follow Us</h2>
      <p class="text-center">
        <a id="links" href="www.ebay.com">Ebay</a><br>
        <a id="links" href="https://www.instagram.com/zentuning/">Instagram</a><br>
        <a id="links" href="https://www.facebook.com/ZenTuning/">Facebook</a><br>
        <a id="links" href="www.youtube.com">Youtube</a>
      </p>
    </div>
  </div>
  <footer class="text-center">
    <div class="row">
      <div class="col-12">
        <p>Copyright © Circuit Syndicate. All rights reserved.</p>
      </div>
    </div>
  </footer>
</div>
<!-- END CONTACTS -->
