<!-- CONTACT STUFF -->
<div id="footer">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <p class="text-center">
        <b class='b_title'>CONTACT US:
        </b>
        <b><BR>Call Us:<BR>sales@CircuitSyndicate.com<BR><BR>Call Us:<BR>(949) TOO-FAST</b>
        </p>
      </div>
      <div class="col-sm-4">
        <p class="text-center">
          <b class='b_title'>FOLLOW US:</b><BR>
            <a id="follow_links" href="">Ebay</a>
            <a id="follow_links" href="https://www.instagram.com/zentuning/">Instagram</a>
            <a id="follow_links" href="https://www.facebook.com/ZenTuning/">Facebook</a>
            <a id="follow_links" href="">Youtube</a>
          </p>
        </div>
        <div class="col-sm-2">
        </div>
      </div>
      <footer class="text-faded text-center py-5">
        <div class="container">
          <p class="m-0 small">Copyright &copy; Circuit Syndicate 2020</p>
        </div>
      </footer>
    </div>
