<!DOCTYPE html>
<html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
<!-- Bootstrap CSS CDN -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<!-- Custom CSS -->
<link rel="stylesheet" href="style.css">
<title>Demo</title>
</head>
<!------------------- NAVBAR ------------------->
<!-- LOGO -->
<div class="d-flex justify-content-center">
  <img src="static/logo.PNG" class="img-fluid" alt="Circuit Syndicate Logo" id = 'nav_logo'>
</div>
<nav class="navbar navbar-light navbar-expand-md bg-light justify-content-center">
  <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
    <ul class="navbar-nav mx-auto text-center">
      <li class="nav-item active align-middle">
        <a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="product.html">Downpipe</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="about.html">About</a>
      </li>
    </ul>
  </div>
</nav>
<!------------------- END NAVBAR ------------------->
    <div class="row">
      <div id = 'main_content' class="col-11">
        <!-- landing_image -->
        <div class="d-flex justify-content-center">
          <img id ="landing_image" class="img-fluid" src="../static/landing_photo.png"
          alt="Circuit Syndicate Downpipe">
        </div>
      </div>
    </div>
    <!-- CONTACT STUFF -->
    <div id="footer">
      <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4">
          <p class="text-center">
            <b class='b_title'>CONTACT US:
            </b>
            <b><BR>Call Us:<BR>sales@CircuitSyndicate.com<BR><BR>Call Us:<BR>(949) TOO-FAST</b>
            </p>
          </div>
          <div class="col-sm-4">
            <p class="text-center">
              <b class='b_title'>FOLLOW US:</b><BR>
                <a id="follow_links" href="">Ebay</a>
                <a id="follow_links" href="https://www.instagram.com/zentuning/">Instagram</a>
                <a id="follow_links" href="https://www.facebook.com/ZenTuning/">Facebook</a>
                <a id="follow_links" href="">Youtube</a>
              </p>
            </div>
            <div class="col-sm-2">
            </div>
          </div>
          <footer class="text-faded text-center py-5">
            <div class="container">
              <p class="m-0 small">Copyright &copy; Circuit Syndicate 2020</p>
            </div>
          </footer>
        </div>
  </body>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</html>
