{% extends 'base_skeleton.html' %}
{% block Content %}
<div class="container mt-2">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron">
        <h2 class="text-center landing_text">We are enthusiast who aspire to look at parts differently.</h2>
        <p>
          The world is full of basic, generic, half assed parts that cost an arm and a leg.  At Circuit Syndicate,
           look at each part as a never ending project, thus, we create fully functional parts that outperform the rest at a fraction of the cost of our comepetitors.
        </p>
<center>
        <h3>
          For Racers, by Racers
          <br>
          Circuit Syndicate
        <h3>
          <center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
