<style>
/* -------------------- */
  /* CONTACT */
/* -------------------- */
h2.text-center{
  text-decoration: underline;
}
strong.contact{
  color: white;
  font-weight: bold;
}
#contact{
  color: white;
}
#links{
font-weight: bold;
margin-bottom: 1em;
color: white;
}
#links:hover{
  color: #66ff33;
}
/* -------------------- */
  /* NAVBAR */
/* -------------------- */
img.logo{
  width: 50%;
}
li.nav-item {
  padding-top: 5px;
}
a.nav-link {
  font-size: 20px;
  font-weight: bold;
}
/* -------------------- */
  /* SITES */
/* -------------------- */
html{
  padding-top: ;
}
strong.bullet{
  font-weight: bold;
  font-size: 35px;
}
/* HOME */
img.landing{
  width: 100%;
  margin-left: 5%;
}
h1, strong.landing_text{
  font-size: 200%;
  font-weight: bold;
}
/* -------------------- */
  /* PRODUCT TEXT */
/* -------------------- */
#left_Vband_closeup{
  position: absolute;
  top:80%;
  left:70%;
  font-size: 20px;
}
</style>
